.cutie {

    width: 500px;
    height: 200px;
    border: 5px solid red;
    box-sizing: border-box;
    padding: 85px 235px;
    margin-left: 250px;
    margin-top: 50px;
}

.cutie2 {
    width: 500px;
    height: 200px;
    border: 5px solid rgb(55, 0, 255);
    padding: 85px 235px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 250px
}

.cutie3 {
    width: 500px;
    height: 200px;
    border-radius: 20px;
    border: 5px solid rgb(40, 175, 228);
    padding: 85px 235px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 250px
}

.cutie4{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border: 5px solid rgb(40, 175, 228);
    box-sizing: border-box;
    margin-left: 250px;
    margin-top: 50px;
}

.cutie5{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 5px solid rgb(21, 102, 224);
    box-sizing: border-box;
    margin-left: 95px;
    margin-top:95px
}

.cutie6{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 5px solid rgb(194, 47, 194);
    box-sizing: border-box;
    margin-left:45px;
    margin-top:45px
}