body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 247, 247);
}

a,
img {
    display: block;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.navbar-container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#header-username {
    font-weight: bold;
}

.navbar-item {
    margin: 7px;
    width: 90%;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}

.profile-img {
    max-width: 90%;
}

.profile-text {
    font-size: 23px;
    color: grey;
    text-align: center;
}

.cards-main h3 {
    text-align: center;
    margin-bottom: 50px;
    color: rgb(54, 54, 54);

}

.cards-container {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card img {
    width: 95%;

}

.cards-main p {
    width: 90%;
    text-align: center;
    font-size: 20px;
    color: grey;
}

.card h3 {
    margin-top: 30px;
    margin-bottom: -5px;
    color: rgb(79, 79, 79);
}

footer {
    text-align: center;
    margin-top: 60px;
    padding: 40px 0;
    color: rgb(120, 120, 120);
    background-color: rgb(247, 247, 247);
}

footer h3 {
    font-weight: bold;
    color: rgb(54, 54, 54);
    margin-bottom: 15px;
}

footer p {
    font-size: 18px;
    margin: 8px 0;
    max-width: 480px;
    margin: 10px auto;
    line-height: 1.5;
}

footer a {
    color: rgb(50, 100, 200);
    text-decoration: none;
    display: inline;
}

footer a:hover {
    text-decoration: underline;
}

footer hr {
    border: none;
    border-top: 1px solid rgb(200, 200, 200);
    width: 90%;
    margin: 30px auto;
}

.footer-container a {
    color: rgb(54, 54, 54);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    font-weight: bold;
    color: rgb(54, 54, 54);
}

.footer-bottom a {
    color: black;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.student-name {
    text-align: left;
}

.student-name.small {
    display: block;
}

.footer-nav.large {
    display: none;
}

/* mobile firts design */

/* Tablet  320px si  768px */

@media (width>768px) {

    .profile-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        margin-bottom: 80px;
        margin-left: 20px;
        margin-right: 20px;

    }

    .profile-text {
        display: flex;
        text-align: left;
        margin: 0;
    }

    .profile-img {
        margin-left: 20px;
    }

    .navbar-item {
        background-color: transparent;

    }

    .navbar-container {
        width: 45%;
        flex-direction: row;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

    .card {
        width: 45%;
        margin-bottom: 50px;
    }
    footer p {
    max-width: 480px;
    margin: 10px auto;
    line-height: 1.5;
}

    .student-name.small {
        display: block;
    }

    .back-to-top {
        display: none;
    }

    .footer-nav.large {
        display: flex;
        gap: 20px;
    }

}


/* Desktop width>728px */

@media (width>1024px) {

    .profile-container{
        width: 93%;
    }

    .profile-text{
        font-size: 29px;
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-item {
        background-color: transparent;
    }

    .navbar-container {
        width: 25%;
        flex-direction: row;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        margin: 0;
    }

    .card {
        width: 30%;
        margin-bottom: 50px;
    }
}